// normalize style

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #444;
}

a {
  color: inherit;
}

input {
  font-family: inherit;
}
